* {
  -fx-font-family: 'Leelawadee UI';
}

.log-timestamp, .message-timestamp, .message-edit-timestamp {
  -fx-font-family: 'Courier New';
  -fx-font-size: 9;
}

.message-author {
  -fx-font-size: 14;
  -fx-font-weight: bold;
}

.attachments, .message-edit-text, .message-edit-timestamp {
  -fx-font-style: italic;
}

.stdout {
  -fx-font-family: 'Courier New';
}